h1 {
  padding: .25em 0 .25em .75em;
  /*border-left: 6px solid #ccc;*/
}
h2 {
  overflow: hidden;
}
h2 span {
  position: relative;
  display: inline-block;
  margin: 0 2.5em;
  padding: 0 1em;
  text-align: left;
}
h2 span::before,
h2 span::after {
  position: absolute;
  top: 50%;
  content: '';
  width: 400%;
  height: 1px;
  background-color: #ccc;
}
h2 span::before {
  right: 100%;
}
h2 span::after {
  left: 100%;
}
/* 画像MAX追加 */
.scroll-area {
  width: 100%;
  height: 65vh;
  margin-bottom: 10px;
  overflow: auto;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
  -webkit-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
  -webkit-scroll-snap-points-y: repeat(100%);
  scroll-snap-points-y: repeat(100%);
}
.box {
  width: 100%;
  height: 65vh;
  color: #fff;
  display: flex;
  align-items: center; /* 縦方向中央揃え */
  justify-content: center; /* 横方向中央揃え */
  flex-direction: column;
}
.box__bg_black {
  background-color: #333;
}
.box__bg_gray {
  background-color: #ccc;
}
.box__bg_photo {
  background-image: url("/static/photo/top_photo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/*画像上にボタン*/
.example {
  position: relative;
  }
.example a {/*aタグを画像の真ん中に*/
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*以下装飾*/
  margin:0;/*余計な隙間を除く*/
  font-size: 16px;/*文字サイズ*/
  border: solid white 2px; /*線で囲う*/
  padding: 5px;/*文字と線の間の余白*/
  color: white;/*文字色*/
  text-decoration: none;/*下線を表示させない*/
  }
.example a:hover{/*カーソルを当てたとき*/
  background: rgba(255, 255, 255, 0.3);/*背景を半透明に*/
  }
.example img {
  width: 100%;
  }

/*ブログページ用css*/
.row.row1
{
  margin-right: 0px;
}
.container-fluid.container-page-item-title {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #F5F5F5;
    margin-bottom: 40px;
    margin-top: 20px;
    background-size: cover;
    background-position: center center;
}
.basic_color{
    color: #989898;
}
.link01 { /*頭出し位置調整*/
  margin-top:-100px;
  padding-top:100px;
}
.links { /*頭出しリスト*/
    color: #989898;
    border: dotted #ddd 1px;/*ドット 色 太さ*/
    padding: 0.5em 0.5em 0.5em 2em;
}
.links li{
    line-height: 1.5;
    padding: 0.5em 0;
    list-style-type: none!important;
}
.links li a{
    color: #989898;
}
.links li:before {/*疑似要素*/
  font-family: FontAwesome;
  content: "\f138";/*アイコンの種類*/
  position: absolute;
  left : 2em;/*左端からのアイコンまでの距離*/
  color:#989898;/*アイコン色*/
}
.b_title_tag {
border-bottom: dashed 1px #989898;
/*線の種類（実線） 太さ 色*/
}
.b_title_var {
padding: 0.25em 0.5em;/*上下 左右の余白*/
color: #494949;/*文字色*/
background: transparent;/*背景透明に*/
border-left: solid 2px #989898;/*左線*/
}