h1 {
  padding: .25em 0 .25em .75em;
  /*border-left: 6px solid #ccc;*/
}
h2 {
  overflow: hidden;
  text-align: center;
}
h2 span {
  position: relative;
  display: inline-block;
  margin: 0 2.5em;
  padding: 0 1em;
  text-align: left;
}
h2 span::before,
h2 span::after {
  position: absolute;
  top: 50%;
  content: '';
  width: 400%;
  height: 1px;
  background-color: #ccc;
}
h2 span::before {
  right: 100%;
}
h2 span::after {
  left: 100%;
}
div {
  display: block;
  font-size: 12px;
  font-family: "Sawarabi Mincho";
  font-style: normal;
  font-weight: 400;
}
#main {
    padding-top: 23px;
    padding-bottom: 20px;
    background-color: #ffffff;
}
@media screen and (max-width: 1190px)
_custom816.scss:188
.inner-wrap {
    width: 94%;
}
.inner-wrap {
    margin: 0 auto;
    max-width: 1140px;
}
.clearfix {
    display: block;
}