{% extends "blog/base_about.html" %}

{% block content %}
	    <div class="inner-wrap">
	    	<h2>About us</h2>
			<p>プロフィール</p>
			<p>@yowahada<br>
			細かい作業が好き。見習エンジニア。<br>
			静岡県沼津市出身。<br>
			建築学科卒業。<br>
			モバイルゲームを企画・開発する企業で5年プロデュース、ディレクション、BizDev業務に従事。<br>
			現在は、建物のリノベーションを行う企業でマーケティングアナリストとして働きながら、サイト構築運用を行う。</p><br>

			<p>@96rin<br>
			大枠を決定していくプロセスが大好物な新米投資家。<br>
			茨城県勝田市出身（現ひたちなか市）。<br>
			一級建築士。アーバンデザイン、意匠計画が専門。<br>
			某有名カフェ、カーショールーム、テレビ局の建築設計を経験後、リノベーション、オフィスの内装の設計職を行う。<br>
			デジタルデザインとプログラミングで現状の非効率業態の刷新に奮闘。</p>
		</div>
		<div class="inner-wrap" align="center">
		<button type="button" class="btn btn-default"><a href="{% url 'blog:gin_list' %}">一覧画面へ</a></button><br>
		</div>
{% endblock content %}