{% extends "blog/base_about.html" %}

{% block content %}
	    <div class="inner-wrap">
	    	<h2>About us</h2>
			<p>プロフィール</p>
			<p>@yowahada<br>
			細かい作業が好き。見習エンジニア。<br>
			静岡県沼津市出身。<br>
			建築学科卒業。<br>
			モバイルゲームを企画・開発する企業で5年プロデュース、ディレクション、BizDev業務に従事。<br>
			現在は、建物のリノベーションを行う企業でマーケティングアナリストとして働きながら、サイト構築運用を行う。</p>
		</div>
		<div class="inner-wrap" align="center">
		<button type="button" class="btn btn-default"><a href="{% url 'blog:gin_list' %}">一覧画面へ</a></button><br>
		</div>
{% endblock content %}