{% load static %}
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
		<link href="https://fonts.googleapis.com/earlyaccess/sawarabigothic.css" rel="stylesheet" />
		<title>Ginpedia</title>
	</head>
	<body>
		<div class="inner-wrap">
			<h1>Ginpedia</h1>
		</div>
		<nav class="navbar navbar-inverse">
      		<div class="container">
        	<div class="navbar-header">
          		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            		<span class="sr-only">Toggle navigation</span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</button>
          	<a class="navbar-brand" href="#">Menu</a>
        	</div>
        	<div id="navbar" class="collapse navbar-collapse">
          		<ul class="nav navbar-nav">
            		<li><a href="{% url 'blog:gin_list' %}">Gin List</a></li>
            		<li><a href="{% url 'blog:about' %}">About Us</a></li>
            		<li><a href="{% url 'blog:contact_add' %}">Contact</a></li>
          		</ul>
        	</div><!--/.nav-collapse -->
      		</div>
	    </nav>
	    <div class="inner-wrap">
	    	<h2>About us</h2>
			<p>プロフィール</p><br>
			<br>
			<p>@yowahada
			<p>細かい作業が好き。見習エンジニア。</p>
			<p>静岡県沼津市出身。</p>>
			<P>建築学科卒業。</p>
			<p>モバイルゲームを企画・開発する企業で5年プロデュース、ディレクション、BizDev業務に従事。</p><br>
			<p>現在は、建物のリノベーションを行う企業でマーケティングアナリストとして働きながら、サイト構築運用を行う。</p>
		</div>
		<div class="inner-wrap" align="center">
		<button type="button" class="btn btn-default"><a href="{% url 'blog:gin_list' %}">一覧画面へ</a></button><br>
		</div>
		<div class="inner-wrap" align="center" style="margin-top: 50px; padding: 20px 20px 20px;">
            <!-- copy right start -->
                <p>Copyright 2017 Ginpedia by tskz</p>
            <!-- copy right end -->
        </div>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
	</body>
</html>