h1 {
  padding: .25em 0 .25em .75em;
  /*border-left: 6px solid #ccc;*/
}
h2 {
  overflow: hidden;
  text-align: center;
}
h2 span {
  position: relative;
  display: inline-block;
  margin: 0 2.5em;
  padding: 0 1em;
  text-align: left;
}
h2 span::before,
h2 span::after {
  position: absolute;
  top: 50%;
  content: '';
  width: 400%;
  height: 1px;
  background-color: #ccc;
}
h2 span::before {
  right: 100%;
}
h2 span::after {
  left: 100%;
}
div {
  font-size: 13px;
  font-family: "Sawarabi Gothic";
  font-style: normal;
  font-weight: 400;
}

.form-row {
    overflow: hidden;
    padding: 10px;
    font-size: 13px;
    border-bottom: 1px solid #eee;
}