{% extends "blog/base_contact.html" %}

{% block content %}
        <div class="inner-wrap">
            <h2>お問合せ | Contact</h2>
            <p>ご質問・ご不明な点等ございましたら、下記のフォームまでお気軽にお問い合わせください。できるだけ早くお返事させていただきます。</p>
            <div class="table-responsive" align="center" style="margin-top: 50px;">
                <form method="POST" class="form-row">{% csrf_token %}
                    <table class="table">
                        {{ form.as_table }}
                    </table>
                    <button type="submit" class="btn btn-default btn-lg" style="margin: 20px">送信</button>
                </form>
            </div>
            <div align="center" style="margin-top: 50px; padding: 20px 20px 20px;">
                <button type="button" class="btn btn-default" ><a href="{% url 'blog:gin_list' %}">一覧画面へ</a></button><br>
            </div>
        </div>
{% endblock content %}