{% extends "blog/base.html" %}

{% block content %}
	    <div class="inner-wrap">
	    	<h2>{{ post.title }}</h2>
			<p>{{ post.Flavor_text | linebreaksbr}}</p>
			<p>蒸留所：{{ post.Distillery }}</p>
			<p>度数：{{ post.ABV }} 度</p>
			<p>国：{{ post.Country }}</p>
			<img src="{{ post.image.url }}" style="max-width:100%; max-height:500px"/>
		</div>
		<div class="inner-wrap">
			<h3>フレーバー・ボタニカル</h3>
			<p>{{ post.flavor_text | linebreaksbr}}</p>
			<h3>ボタニカル</h3>
			<p>{{ post.Botanical | linebreaksbr}}</p>
			<h3>詳細</h3>
			<p>{{ post.Tasting_note | linebreaksbr}}</p>
		</div>
		<div class="inner-wrap" align="center" style="margin-top: 50px; padding: 20px 20px 20px;">
		<button type="button" class="btn btn-default"><a href="{% url 'blog:gin_list' %}">一覧画面へ</a></button><br>
		</div>
{% endblock content %}