{% load static %}
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
		<link href="https://fonts.googleapis.com/earlyaccess/sawarabigothic.css" rel="stylesheet" />
		<title>Ginpedia</title>
	</head>
	<body>
		<div class="inner-wrap">
			<h1>Ginpedia</h1>
		</div>
		<nav class="navbar navbar-inverse">
      		<div class="container">
        	<div class="navbar-header">
          		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            		<span class="sr-only">Toggle navigation</span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</button>
          	<div class="navbar-brand">Detail</div>
        	</div>
        	<div id="navbar" class="collapse navbar-collapse">
          		<ul class="nav navbar-nav">
            		<li><a href="{% url 'blog:gin_list' %}">Gin List</a></li>
            		<li><a href="{% url 'blog:about' %}">About Us</a></li>
            		<li><a href="{% url 'blog:contact' %}">Contact</a></li>
          		</ul>
        	</div><!--/.nav-collapse -->
      		</div>
	    </nav>
	    <div class="inner-wrap">
	    	<h2>{{ post.title }}</h2>
			<p>蒸留所：{{ post.Distillery }}</p>
			<p>度数：{{ post.ABV }}</p>
			<p>価格：{{ post.Estimated_price }}</p>
			<p>レビュー日：{{ post.published_date }}</p>
			<img src="{{ post.image.url }}" style="max-height:500px"/>
		</div>

		<div class="inner-wrap"> 
			<h3>フレーバー</h3>
			<p>{{ post.flavor_text }}</p>
			<h3>レビュー</h3>
			<p>{{ post.Tasting_note }}</p>
			<h3>カクテル</h3>
			<p>{{ post.Cocktails }}</p>
		</div>
		<div class="inner-wrap" align="center">
		<button type="button" class="btn btn-default"><a href="{% url 'blog:gin_list' %}">一覧画面へ</a></button><br>
		</div>
	<div style="background-color:#f1eff5; margin-top: 50px; padding: 20px 20px 20px;">
		<div class="inner-wrap">
			<p>Copyright 2017 Ginpedia by tskz</p>
		</div>
	</div>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
	</body>
</html>