{% extends "blog/base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
	    	<div class="inner-wrap">
	    		<h2>{{ post.title }}</h2>
				<p>{{ post.Flavor_text | linebreaksbr}}</p>
				<p>蒸留所：{{ post.Distillery }}</p>
				<p>度数：{{ post.ABV }} 度</p>
				<p>国：{{ post.Country }}</p>
				<img src="{{ post.image.url }}" style="max-width:100%; max-height:500px"/>
			</div>
			<div class="inner-wrap">
				<h3>ボタニカル</h3>
				{% for tag in post.botanicals.all %}
				<li><a href="{% url 'blog:Material' tag.title %}">{{ tag.title }}</a></li>
				{% endfor %}
				<h3>詳細</h3>
				<p>{{ post.Tasting_note | linebreaksbr}}</p>
				<h3>ヒストリー</h3>
				<p>{{ post.history | linebreaksbr}}</p>
			</div>
			<div class="#" align="center" style="margin-top: 50px; padding: 20px 20px 20px;">
				<!--{{ post.get_prev.title }}でタイトル引っ張ってこれる-->
				{% if post.get_prev %}
				<p><a class="btn btn-default" href="{% url 'blog:detail' post.get_prev.pk %}"><i class="fa fa-angle-double-left" aria-hidden="true"></i> 前へ</a>
				{% endif %}
					<a class="btn btn-default" href="{% url 'blog:gin_list' %}" role="button"><i class="fa fa-home" aria-hidden="true"></i> ホーム</a>
				{% if post.get_next %}
				<a class="btn btn-default" href="{% url 'blog:detail' post.get_next.pk %}">次へ <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
				</p>
				{% endif %}
			</div>
		</div>
	</div>
<!--</div> container -->
{% endblock content %}