{% extends "blog/base.html" %}
{% block content %}

	<h2>ジンリスト | Gin List</h2>
	<p>日本国内外のジン・クラフトジンを探求・発見していくことができる場になることを期待しています。乾杯！</p>
	<!--<div class="inner-wrap" style="margin-top: 50px;">-->
		<table class="table">
			<!--table-striped table-hover table-condensed-->
			<tr>
				<th>名前</th>
				<th>蒸留所</th>
				<th>度数</th>
			</tr>
			{% for post in posts %}
				<tr>
					<td><button type="button" class="btn btn-default"><a href="{% url 'blog:detail' post.pk %}">> {{ post.title }}</a></button></td>
					<td>{{ post.Distillery }}</td>
					<td>{{ post.ABV }}</td>
				</tr>
			{% endfor %}
		</table>
	<!--</div>-->
{% endblock content %}