{% extends "blog/base.html" %}
{% load blog_tag %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
		<h3>クラフトジンリスト</h3>
			<div class="input-group">
				<form action="" method="GET">
					<span class="input-group-btn">
						{{ form }}<button class="btn btn-default" type="submit">検索</button>
					</span>
				</form>
			</div>
			<br>
			<!--<div class="dropdown">-->
				<!--<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">-->
					<!--国選択-->
					<!--<span class="caret"></span>-->
				<!--</button>-->
				<!--<ul class="dropdown-menu" role="menu">-->
					<!--{% for sort in gin_sort %}-->
					<!--<li role="presentation"><a href="#">{{ sort.Country }}</a></li>-->
					<!--{% endfor %}-->
				<!--</ul>-->
			<!--</div>-->
			<br>
			<table class="table">
			<tr>
				<th>名前</th>
				<th>生産地</th>
				<th>度数</th>
			</tr>
			{% for gin in gin_list %}
			<tr>
				<td><a class="btn btn-default" href="{% url 'blog:detail' gin.pk %}" role="button"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>{{ gin.title }}</a></td>
				<td>{{ gin.Country }}</td>
				<td>{{ gin.ABV }}</td>
			</tr>
			{% endfor %}
		</table>
			<div align="center">
        		{% include "list.html" %}<!--ページングinclude-->
			</div>
		</div>
	</div>
<!--</div> container -->
{% endblock content %}