{% extends "base.html" %}

{% block meta_des %}日本国内外の人気「クラフトジン」を中心に好きなお酒、おすすめのお酒を見つけることができるサービスを目指しています{% endblock %}

{% block content %}
<div class="scroll-area">
	<div class="box box__bg_photo">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2" align="center">
					<div class="hero-unit">
						<h2>ジンペディア</h2>
						<p>日本国内外のクラフトジンを探求・発見していくことができる場になると期待しています。乾杯！</p>
						<div align="center">
							<a class="btn btn-success btn-block hidden-sm hidden-xs" href="{% url 'blog:gin_list' %}" role="button">クイックサーチ <i class="fa fa-search" aria-hidden="true"></i></a><br>
							<a id="demo01" href="#animatedModal" class="btn btn-success btn-block hidden-md hidden-lg">クイックサーチ  <i class="fa fa-search" aria-hidden="true"></i></a><!--Call your modal-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-1" align="center">
			<br>
			<h4>最新クラフトジンリスト</h4>
			<table class="table">
				<tr>
					<th>名前</th>
					<th>生産地</th>
					<th>度数</th>
				</tr>
				{% for gin in gin_list %}
				<tr>
					<td><a class="btn btn-default" href="{% url 'blog:detail' gin.pk %}" role="button"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>{{ gin.title }}</a></td>
					<td>{{ gin.Country }}</td>
					<td>{{ gin.ABV }}</td>
				</tr>
				{% endfor %}
			</table>
			<div align="center">
				<h4>最新トピック</h4>
			</div>
			<div class="row">
				{% for page in pages %}
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="{{ page.thumnail.url }}" alt="...">
						<div class="caption">
							<h4>{{ page.title }}</h4>
							<p>{{ page.Flavor_text }}</p>
							<p><a href="{% url 'article:blog_article' page.title %}" class="btn btn-default" role="button"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>記事を読む</a></p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<!--<div class="col-xs-12 col-md-8 col-md-offset-2" align="center">-->
			<div class="inner-wrap" align="center">
				<a class="btn btn-success btn-block" href="{% url 'article:page_list' %}" role="button"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>もっとみる</a><br>
				<hr class="hidden-md hidden-lg"><!--SPのみライン-->
			</div>
		</div>
		{% include "side_bar.html" %}
	</div>
</div>
{% include "modal.html" %}
{% endblock content %}