{% extends "blog/base.html" %}
{% load static %}

{% block content %}
<div class="scroll-area">
	<div class="box box__bg_photo">
		<h2>クラフトジンリスト</h2>
		<p>日本国内外のジン・クラフトジンを</p>
		<p>探求・発見していくことができる場になると</p>
		<p>期待しています。乾杯！</p>
		<br>
		<div align="center">
			<form method="get" action="" name="filter_form">
				<input type="search" id="filter_name"
                   name="name"
                   placeholder="産地,名前,甘い">
				<button class="btn btn-default" id="filter">search</button>
			</form><!--フォームのテスト-->
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10 col-md-offset-1">
			<br>
			<h4>クラフトジン</h4>
			<table class="table">
				<!--table-striped table-hover table-condensed-->
				<tr>
					<th>名前</th>
					<th>生産地</th>
					<th>度数</th>
				</tr>
				{% for gin in gin_list %}
				<tr>
					<td><a class="btn btn-default" href="{% url 'blog:detail' gin.pk %}" role="button"> > {{ gin.title }}</a></td>
					<td>{{ gin.Country }}</td>
					<td>{{ gin.ABV }}</td>
				</tr>
				{% endfor %}
			</table>
			<div class="inner-wrap" align="center" style="margin-top: 5px; padding: 20px 20px 20px;">
				<a class="btn btn-default" href="{% url 'blog:gin_list' %}" role="button">Read more</a><br>
			</div>
			<!--ページング用html-->
			<!--<div class="pagination" align="center">-->
				<!--<span class="step-links">-->
					<!--{% if page_obj.has_previous %}-->
						<!--<a href="?page={{ page_obj.previous_page_number }}">previous</a>-->
					<!--{% endif %}-->

					<!--<span class="current">-->
						<!--Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.-->
					<!--</span>-->

					<!--{% if page_obj.has_next %}-->
						<!--<a href="?page={{ page_obj.next_page_number }}">next</a>-->
					<!--{% endif %}-->
				<!--</span>-->
			<!--</div>-->
			<!--別モデル表示テスト-->
			<h4>最新トピック</h4>
			<div class="row">
				{% for botanical in botanicals %}
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="{{ botanical.thumnail.url }}" alt="...">
						<div class="caption">
							<h4>{{ botanical.title }}</h4>
							<p>{{ botanical.Flavor_text }}</p>
							<p><a href="{% url 'article:blog_article' botanical.pk %}" class="btn btn-default" role="button">記事を読む</a></p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="inner-wrap" align="center" style="margin-top: 5px; padding: 20px 20px 20px;">
				<a class="btn btn-default" href="{% url 'article:blog_list' %}" role="button">Read more</a><br>
			</div>
		</div>
	</div>
<!--<div class="media">-->
{% endblock content %}

	<!--{% for botanical in botanicals %}-->
		<!--<a class="media-left media-middle" href="#">-->
			<!--<img data-src="..." alt="...">-->
		<!--</a>-->
  		<!--<div class="media-body">-->
			<!--<h4 class="media-heading">{{ botanical.title }}</h4>-->
    		<!--{{ botanical.Flavor_text }}-->
		<!--</div><br>-->
	<!--{% endfor %}-->
<!--</div>-->


<!--<li>別モデル表示テスト</li>-->
<!--{% for botanical in botanicals %}-->
    <!--<input type="checkbox" id="filter_botanical_{{ botanical.pk }}"-->
           <!--name="botanical"-->
           <!--value="{{ botanical.pk }}">{{ botanical.title }}<br>-->
<!--{% endfor %}-->