{% load static %}
<!DOCTYPE html>
<html lang="ja">
	<head>
		<!-- Google Tag Manager -->
			<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-T49Q4JW');</script>
		<!-- End Google Tag Manager -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="{% static 'css/basic.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
		<link href="https://fonts.googleapis.com/earlyaccess/sawarabigothic.css" rel="stylesheet" />
		<title>好きなジンが見つかる。Ginpedia。</title>
	</head>
	<body>
	    <!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T49Q4JW"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<div class="inner-wrap">
			<h1>Ginpedia</h1>
		</div><!-- End Google Tag Manager (noscript) -->
        <nav class="navbar navbar-inverse">
      		<div class="container">
        	<div class="navbar-header">
          		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            		<span class="sr-only">Toggle navigation</span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</button>
          	<!--<a class="navbar-brand" href="{% url 'article:blog_list' %}">Menu</a>-->
        	<a class="navbar-brand" href="#">Menu</a>
			</div>
        	<div id="navbar" class="collapse navbar-collapse">
          		<ul class="nav navbar-nav">
            		<li class="{% block nav_click1 %}{% endblock %}"><a href="{% url 'blog:gin_list' %}">Gin List</a></li>
            		<!--<li class="{% block nav_click2 %}{% endblock %}"><a href="{% url 'article:blog_list' %}">Blog</a></li>-->
					<li class="{% block nav_click3 %}{% endblock %}"><a href="{% url 'blog:about' %}">About Us</a></li>
            		<li class="{% block nav_click4 %}{% endblock %}"><a href="{% url 'blog:contact_add' %}">Contact</a></li>
          		</ul>
        	</div><!--/.nav-collapse -->
      		</div>
	    </nav><!-- End nav -->
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-10 col-md-offset-1">
	        		{% block content %}
            		{% endblock %}<!-- End block content -->
				</div>
			</div>
			<div class="row">
				<div align="center" style="margin-top: 50px; padding: 20px 20px 20px;">
					<p>Copyright 2017 Ginpedia by yowahada</p>
				</div><!-- copy right -->
			</div>
		</div>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
	</body>
</html>