{% load static %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-2" align="center">
            <div id="animatedModal"><!--DEMO01-->
                <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
                <div class="modal-cont basic_color" style="margin-top: 70px;">
                    <!--Your modal content goes here-->
                    <!--http://bootstrap3.cyberlab.info/components/thumbnails.html-->
                    <p>知りたい事はなんですか？</p><br>
                    <h3>ジンの種類を知りたい</h3><br>
                    <h3>ジンのジャンルを知りたい</h3><br>
                    <h3>ジンの飲み方を知りたい</h3><br>
                    <h3>ジンの歴史を知りたい</h3><br>
                </div>
                <div class="close-animatedModal"><i class="fa fa-times" aria-hidden="true"></i>CLOSE</div>
            </div><!--DEMO01-->
        </div>
    </div>
</div>