{% extends "article/base_blog.html" %}

{% block meta_des %}{{ posts.description }}{% endblock %}
{% block title %}{{ posts.title }} | サイト名{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <ol class="breadcrumb" style="margin: 10px 0px 5px 0px;">
				<li><a href="{% url 'blog:post_list' %}">Home</a></li>
				<li><a href="{% url 'article:page_list' %}">blog</a></li>
				<li class="active">article</li>
			</ol>
            <h2>{{ page.title }}</h2>
            {{ page.updated_at | date:"Y年n月d日" }} {{ page.author }}<br><br>
            {% autoescape off %}
            {{ page.text }}
            {% endautoescape %}
        </div>
    </div>
</div>
{% endblock %}