{% extends "article/base_blog.html" %}

{% block meta_des %} {{page.title}} - {% endblock %}

{% block content %}
<!--パンくず-->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-1">
            <ol class="breadcrumb" style="margin: 10px 0px 5px 0px;">
				<li><a href="{% url 'blog:post_list' %}">Home</a></li>
				<li><a href="{% url 'article:page_list' %}">Topic</a></li>
				<li class="active">Article</li>
			</ol>
        </div>
    </div>
</div>
<div class="container-fluid container-page-item-title">
    <div class="row row1">
        <div class="col-xs-12" align="center">
            <p style="color:#989898">Articles</p>
            <h1>{{ page.title }}</h1>
            <p>{{ page.updated_at | date:"Y年n月d日" }} {{ page.author }}</p><br>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-1" style="margin-bottom: 50px;">
            <img src="{{ page.thumnail.url }}" class="img-responsive">
            {% autoescape off %}
            {{ page.text }}
            {% endautoescape %}
            <hr class="hidden-md hidden-lg"><!--SPのみライン-->
        </div>
        {% include "side_bar.html" %}
    </div>
</div>
{% endblock %}