{% extends "article/base_blog.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-1">
            <ol class="breadcrumb" style="margin: 10px 0px 5px 0px;">
				<li><a href="{% url 'blog:post_list' %}">Home</a></li>
				<li class="active">Topic</li>
			</ol>
        </div>
    </div>
</div>
<div class="container-fluid container-page-item-title">
    <div class="row row1">
        <div class="col-xs-12" align="center">
            <p style="color:#989898">topics</p>
            <h1>トピック</h1>
            <p>クラフトジンとかボタニカルのこと</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-1">
            {% for page in object_list %}
                {{ page.updated_at | date:"Y年n月d日" }} {{ page.author }}<br>
                <h3><a href="{% url 'article:blog_article' page.title %}">{{ page.title }}</a></h3><br><hr>
            {% endfor %}
            <div class="inner-wrap" align="center" style="margin-top: 50px; padding: 20px 20px 20px;">
                <a class="btn btn-default btn-block" href="{% url 'blog:gin_list' %}" role="button">一覧画面へ</a><br>
            </div>
        </div>
        {% include "side_bar.html" %}
    </div>
</div>
{% endblock content %}