{% extends "article/base_blog.html" %}

{% block meta_des %}{{ posts.description }}{% endblock %}
{% block title %}{{ posts.title }} | サイト名{% endblock %}

<!--&lt;!&ndash;{% block bread %}-->
<!--<ol class="breadcrumb">-->
  <!--<li><a href="/">ホーム</a></li>-->
  <!--<li class="active">{{ page.title }}</li>-->
<!--</ol>-->
<!--{% endblock %}&ndash;&gt;-->

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <h2>{{ page.title }}</h2>
            {{ page.updated_at | date:"Y年n月d日" }} {{ page.author }}<br><br>
            {% autoescape off %}
            {{ page.text }}
            {% endautoescape %}
        </div>
    </div>
<!--</div> container -->
{% endblock %}